.sidebar {
  position: relative;
  width: 120px;
  height: 100vh;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &__image {
    width: 64px;
    height: 64px;
  }

  &__text {
    position: absolute;
    transform: rotate(-90deg);
    bottom: 150px;
    width: 200px;
    font-size: 0.75em;
    font-weight: 500;
  }
}
