@use '../variables.scss' as v;

.barchart {
  position: relative;
  background-color: v.$bg-chart;
  border-radius: 5px;
  margin-top: 60px;
  margin-bottom: 30px;
  width: 835px;
  height: 320px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    position: absolute;
    top: 30px;
    left: 50px;
    color: v.$title-chart;
  }
}

.linechart {
  position: relative;
  background-color: v.$primary;
  border-radius: 5px;
  height: 260px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    position: absolute;
    top: 25px;
    left: 35px;
    width: 150px;
    color: white;
  }
}

.radarchart {
  background-color: v.$radial-bg;
  border-radius: 5px;
  height: 260px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radialbarchart {
  position: relative;
  background-color: v.$bg-chart;
  height: 260px;
  width: 260px;
  border-radius: 5px;

  &__title {
    position: absolute;
    top: 25px;
    left: 25px;
    color: v.$title-chart;
  }
}

.chart-title {
  font-size: 0.938em;
}

.space-btw {
  justify-content: space-between;
}

.custom-tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
  font-weight: 500;
  padding: 6px 5px;

  &__barchart {
    @extend .custom-tooltip;
    color: white;
    background-color: v.$primary;
    gap: 10px;
  }

  &__linechart {
    @extend .custom-tooltip;
    color: black;
    background-color: white;
  }
}

.dashboard {
  padding: 40px 80px 80px 80px;

  &__title {
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 30px;

    &--accent {
      color: v.$primary;
    }
  }

  &__text {
    font-size: 1.125em;
  }
}
