@use '../variables.scss' as v;

#charts {
  margin-top: 60px;
}

.keyDataWrapper {
  justify-content: space-between;
  margin-left: 30px;
}

.chart {
  position: relative;
  border-radius: 5px;
  height: 260px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 0.938em;
  }

  &__barchart {
    @extend .chart;
    background-color: v.$bg-chart;
    margin-bottom: 30px;
    width: 835px;
    height: 320px;
    font-weight: 500;

    &--title {
      position: absolute;
      top: 30px;
      left: 50px;
      color: v.$title-chart;
    }
  }

  &__linechart {
    @extend .chart;
    background-color: v.$primary;

    &--title {
      position: absolute;
      top: 25px;
      left: 35px;
      width: 150px;
      color: white;
    }
  }

  &__radarchart {
    @extend .chart;
    background-color: v.$radial-bg;
  }

  &__radialbarchart {
    @extend .chart;
    background-color: v.$bg-chart;

    &--title {
      position: absolute;
      top: 25px;
      left: 25px;
      color: v.$title-chart;
    }
  }
}

.custom-tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
  font-weight: 500;
  padding: 6px 5px;

  &__barchart {
    @extend .custom-tooltip;
    color: white;
    background-color: v.$primary;
    gap: 10px;
  }

  &__linechart {
    @extend .custom-tooltip;
    color: black;
    background-color: white;
  }
}

.dashboard {
  padding: 40px 80px 80px 80px;

  &__title {
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 30px;

    &--accent {
      color: v.$primary;
    }
  }

  &__text {
    font-size: 1.125em;
  }
}
